* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
  width: 100%;
  padding: 0 0 6px 0;
  background-color: blueviolet;
  position: relative;
}

.heading h2 {
  color: gold;
  padding: 10px;
  font-weight: 400;
  font-family: cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: black;
}

.box {
  text-align: center;
}

.hours,
.minutes,
.seconds,
.amorpm {
  width: 64px;
  height: 60px;
  background-color: black;
  padding: 16px;
  margin: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 3px 3px 9px inset #41cee7, -3px -5px 9px inset #48be38;
  font-family: Arial, Helvetica, sans-serif;
}

#hours,
#minutes,
#seconds,
#amorpm {
  font-size: 32px;
  color: gold;
}

.box h1 {
  font-size: 16px;
  color: gold;
}

.footer {
  margin: 0;
  width: 100%;
  background-color: blueviolet;
}

.footer p {
  color: gold;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

/* responsive */
/* mobile 320px */
@media (min-width:110px) and (max-width:425px){
  .heading{
    height: 40px;
  }

  .heading h2 {
    text-align: center;
    font-size: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .hours,
  .minutes,
  .seconds,
  .amorpm {
    margin: 10px;
    width: 50px;
    height: 50px;
  }

  #hours,
  #minutes,
  #seconds,
  #amorpm {
    font-size: 20px;
  }

  .box h1 {
    font-size: 16px;
  }

  .footer p {
    font-size: 18px;
    padding: 5px 0;
  }
}
